<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin page</title>
    </head>
    <body>

        <h1>This page contains sensitive information and should be accessed only by the admin</h1>

        <p>Credit card information:</p>
        
        <p>

        1 	VBAK 	Sales Document: Header Data -- SD - Sales
        2 	VBAP 	Sales Document: Item Data -- SD - Sales
        3 	VBUK 	Sales Document: Header Status and Administrative Data -- SD - Basic Functions
        4 	VCNUM 	credit card master -- SD - Payment Cards
        5 	VCKUN 	Assign customer-credit card -- SD - Payment Cards
        6 	PTRV_CCC 	Error Receipts for credit card Clearing -- FI - Travel Expenses
        7 	E1VCKUN 	Customer Master: credit card Data -- LO - Business Partners
        8 	T702B 	credit card Clearing Assignment Table -- FI - Travel Expenses
        9 	PTRV_ME_CCC_RUN 	Assign Personnel Number to credit card Clearing Run -- FI - Travel Expenses
        10 	PTRV_CCC_RUNS 	Assign Personnel Number to credit card Clearing Run -- FI - Travel Expenses
        11 	CRFLATFILE 	credit cards: General Incoming Flat File -- FI - Payment Transactions
        12 	VBKD 	Sales Document: Business Data -- SD - Sales
        13 	BSEG 	Accounting Document Segment -- FI - Financial Accounting
        14 	BKPF
        
        </p>

        <a th:href="@{/form}">Back</a>

        <p></p>
    </body>
</html>
